@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dimick Beesley</h1>
    <p>
        Phone: (334) 439-9492 <br/>
        Email: dbeesley8@gmail.com
    </p>
</div>

<div>
    <h2 class="text-center">About Me:</h2>
    <p>
        After taking some time off from school to explore career options I began teaching myself 
        to program out of curiousity and clicked with it. After teaching myself the basics of 
        python, java, and javascript I returned to school in fall of 2020. I will get my computer
        science degree in December of 2023. <br/><br/>
        
        I am currently profficient in python, java, and c# with some experience in css and html. 
        My personal computer runs on a linux operating system and all programs were manually
        installed with the exception of a handful, giving me experience in linux command line. <br/><br/>
    </p>

    <h2 class="text-center">The Website:</h2>
    <p>
        This website is a dotnet mvc project with included user authentication and priviledges.
        Its purpose is to demonstrate the computer science skills that I have aqcuired sice 2019. 
        
    </p>

    <h2 class="text-center">Career Goals:</h2>
    <p>
        Most of my interests fall into categories of big data, machine learning, back-end, 
        and computer graphics. Though if I find a place in Bioinformatics or Computational 
        Biology without needing a doctorate to secure it I may very well explore those options
    </p>

    <h2 class="text-center">Projects:</h2>
    <p class="bot">
        Here are the projects I have completed:<br/>
        Spectrum Analyser (will be a link, might have a description)
    </p> 
</div>